body {
    background-color: #F9F7F7;
}
h2 {
    color: #112D4E;
}
h5 {
    color: #112D4E;
}
hr {
    background-color: #3F72AF;
    border-style: none;
    width: 300px;
    height: 2px;
}
.menu {
    display: block ;
    transition: background-color 0.5s;
  }
.menu:hover {
    background-color: #DBE2EF;
}